body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #1a202c; /* dark background */
  color: white;
}

button {
  margin-top: 10px;
}

p {
  margin-top: 12px;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(135, 136, 136, 0.281);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
